<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            服务于银行、汽车金融公司等，主要服务内容有二网管理、车辆移动跟踪服务、二网车辆日常检查等。通过易查库手机app拍照和定位，快速有效的盘点库存车辆，帮助客户防控风险并及时向客户反馈结果。运营团队可全程跟踪处理各项业务。
        </p>
    </div>
</div>

<div class="group">
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title">产品功能</span>
                </div>
                <p class="content">
                    主要功能包含：二网真实信息管理、合同管理、车辆管理、车辆抽查、风险预警等，将4S店车辆的库存信息、销售信息、移动信息，分析二级网点的车辆及销售数据，形成报告，发送给银行等金融机构
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part">
                <img src="~@/assets/product-yichaku-产品功能.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content darkbg">
        <div class="row">
            <div class="col-lg-6 col-12 thumbnail-part d-lg-block d-none">
                <img src="~@/assets/product-yichaku-产品优势.png">
            </div>
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">产品优势</span>
                </div>
                <p class="content">
                    协助银行实现了二网的精细化、线上化管理<br/>
                    有效降低了二网业务风险<br/>
                    降低了银行对于二网的管理成本<br/>
                    银行放开了对经销商二网的诸多限制
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-yichaku-产品优势.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">产品目标</span>
                </div>
                <p class="content">
                    通过易查库系统服务，可以帮助银行等金融机构做到全面的二网管理，可以放宽对二网的发展数量、移车比例、摆车时间等管控政策限制，经销商可以多发展二网，向二网移动更多的车辆，从而促进经销商可以通过二网多卖车
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part">
                <img src="~@/assets/product-yichaku-产品目标.png">
            </div>
        </div>
    </div>
</div>
