<div class="info_page">
    <div class="car">
        <div class="title">汽车营销成本高</div>
        <div class="list">
            <div class="list_bar">
                <img src="../assets/icons/联合 11.png">
                <span class="font_main">241</span>
                <span class="font_yuan">元</span>
                <div>平均获客成本</div>
            </div>
            <div class="list_bar">
                <img src="../assets/icons/联合 11.png">
                <span class="font_main">273</span>
                <span class="font_yuan">元</span>
                <div>高端品牌集客成本</div>
            </div>
            <div class="list_bar">
                <img src="../assets/icons/联合 11.png">
                <span class="font_main">192</span>
                <span class="font_yuan">元</span>
                <div>低端品牌集客成本</div>
            </div>
        </div>
        <div class="title title_lu">成交转化率低</div>
        <div class="list list_lu">
            <div class="list_bar">
                <img src="../assets/icons/联合 16.png">
                <span class="font_main">3.13</span>
                <span class="font_yuan">%</span>
                <div>平均转化率</div>
            </div>
            <div class="list_bar">
                <img src="../assets/icons/联合 16.png">
                <span class="font_main">3.17</span>
                <span class="font_yuan">%</span>
                <div>高端品牌转化率</div>
            </div>
            <div class="list_bar">
                <img src="../assets/icons/联合 16.png">
                <span class="font_main">3.08</span>
                <span class="font_yuan">%</span>
                <div>低端品牌转化率</div>
            </div>
        </div>
    </div>
</div>