<div class="marke_page">
    <div class="data_title">
        <div class="font">市场背景</div>
        <div class="font_e">THE MARKET BACKGROUND</div>
    </div>
    <div class="fwcon_page">
        <img class="d-none d-sm-block" src="../../../assets/carApply-img2.png">
        <div class="fwcon_con">
            <div class="title_font">
                <div><span></span>经济下行消费者信心不足：宏观经济处于下行周期，居民可支配收入增加乏力。教育、医疗、养老三座大山，导致居民消费信心不足。</div>
                <div><span></span>投资问题频发居民财富缩水：股市中超过80％的股票下跌；金融监管日趋严格，使得P2P问题平台逾期倒闭，提现困难；投资问题频发，居民财富缩水。</div>
                <div><span></span>激励政策退市：购置税优惠政策提前透支了部分市场用车需求，市场开始逐渐进入政策刺激后的恢复及调整阶段。</div>
                <div><span></span>汽车市场红利减弱：以SUV车型为代表的红利产品市场出现减弱趋势，拉低了市场增长。</div>
            </div>
            <img src="../assets/icons/组 636.png"/>
        </div>
    </div>
</div>
