<div class="ywcj_page">
    <div class="data_title">
        <div class="font_e"> BUSINESS APPLICATION</div>
        <div class="font">业务应用场景</div>
        <DIV CLASS="font_e">SCENARIO</DIV>
    </div> 
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/B2C汽车商城.png">
                <div>
                    <div class="title">B2C汽车商城</div>
                    <div class="subtitle">打通线上线下，实现全渠道统一管理体系，帮助企业快速搭建属于自己的独立网上汽车商城。</div>
                </div>              
            </div>
        </div>    
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/汽车门店O2O.png">
                <div>
                    <div class="title">汽车门店O2O</div>
                    <div class="subtitle">集门店管理+微信营销+微信商城的管理、营销平台于一体，让门店的经营、管理变得更加简单，消费者进店通过微信预约，然后到店接受服务，形成线上线下良性循环。</div>
                </div>              
            </div>
        </div>    
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/分销渠道拓展.png">
                <div>
                    <div class="title">分销渠道拓展</div>
                    <div class="subtitle">抢占社交网络流量红利，解决汽车销量低，传播速度慢的难题，通过招募线上分销商参与销售实现全员开店。</div>
                </div>              
            </div>
        </div>    
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/营销线索收集.png">
                <div>
                    <div class="title">营销线索收集</div>
                    <div class="subtitle">粉丝在商城所有动作轨迹系统全部记录，对有潜在价值的客户自动归类并通知商家，商家可随时随地把握销售商机。</div>
                </div>              
            </div>
        </div>    
    </div>     
</div>