<div class="group apply-trial-wrapper" style="display: none">
    <div class="group-header">
        <p class="prevtitle">CORE PRODUCT</p>
        <p class="title">核心产品体验</p>
        <p class="subtitle">EXPERIENCE</p>
        <div class="divider"></div>
    </div>
    <div class="group-body">
        <div class="row no-gutters">
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon1.png">
                    <p class="title">易查库</p>
                    <p class="subtitle">全面的二网管理解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon2.png">
                    <p class="title">车银融通</p>
                    <p class="subtitle">二手车库存融资业务解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon3.png">
                    <p class="title">汽车金融内控管理</p>
                    <p class="subtitle">提供内外勤管理解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon4.png">
                    <p class="title">车有汇</p>
                    <p class="subtitle">汽车经销商电商化解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon5.png">
                    <p class="title">贷后巡库</p>
                    <p class="subtitle">贷后走访及现场巡库解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="core-product-card">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon6.png">
                    <p class="title">智能视频监控</p>
                    <p class="subtitle">库存车24小时视频监控解决方案</p>
                    <div class="divider"></div>
                    <a class="apply-trial-btn" href="/submit-trial.html">产品体验</a>
                </div>
            </div>
        </div>
    </div>
</div>
