<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            对库存融资车辆停车场安装搭建远程视频监控设备，通过人工智能、深度学习、人脸识别等技术，可实时解库存车辆数量变化、车辆位置变化、人员进出变化及车辆即时预警。
        </p>
    </div>
</div>
<div class="group">
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title">产品功能介绍</span>
                </div>
                <p class="content">
                    视频监控：通过对经销商主库或者二库搭建远程视频监控设备，轻松实现经销商所有库存车辆24小时实时监控<br/>
                    视频主体识别：通过人工智能和深度学习算法，系统可以自动识别监控范围内的车辆主体及车辆位置信息<br/>
                    无人盘库：通过车辆主体、车辆位置、人脸识别的技术应用，可实时了解库存车辆数量变化、车辆位置变化、人员进出变化等情况，可以实时预警
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part">
                <img src="~@/assets/product-smartvideo-产品功能介绍.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 thumbnail-part d-lg-flex d-none">
                <img src="~@/assets/product-smartvideo-产品特点.png">
            </div>
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">产品特点</span>
                </div>
                <p class="content cheyouhui-content-small">
                    高清：系统支持高清智能监控，支持720P和1080P端到端的解决方案<br/>
                    移动：支持Wifi、3G、4G、5G、LTE多种移动接入，提供移动端、网络、平台、客户端整体解决方案<br/>
                    智能：活体动态智能检测与跟拍、视频录像智能打标签，录像内容支持智能检索<br/>
                    云协作：系统支持二次定制化开发、系统对接与系统集成，通过平台网关可便捷实现第三方平台互联互控，视频设备接入即插即用，可快速构建智能云监控平台
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-smartvideo-产品特点.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content product-smartvideo-part3">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">产品优势</span>
                </div>
                <div class="content-thumbnail row no-gutters">
                    <div class="content-item col-md-6 col-12">
                        <img src="~@/pages/product-smartvideo/assets/images/AI智能安防@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                AI智能
                            </p>
                            <p class="content-item-body-value">
                                让监控摄像头更智能，支持人脸识别、车辆识别、车辆数量识别、车辆位置变化、人员行为分析、活体检测及图画分析等
                            </p>
                        </div>
                        <img src="~@/pages/product-smartvideo/assets/images/AI智能安防-light.png" class="content-item-img-light"/>
                    </div>
                    <div class="content-item col-md-6 col-12">
                        <img src="~@/pages/product-smartvideo/assets/images/视频监控@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                视频监控
                            </p>
                            <p class="content-item-body-value">
                                跨区域联网视频监控轻松接入，低码流传输、兼容性强、稳定性高
                            </p>
                        </div>
                        <img src="~@/pages/product-smartvideo/assets/images/视频监控-light.png" class="content-item-img-light"/>
                    </div>
                    <div class="content-item col-md-6 col-12">
                        <img src="~@/pages/product-smartvideo/assets/images/分析服务@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                分析服务
                            </p>
                            <p class="content-item-body-value">
                                提供行为分析、数据统计分析，为提供准确认、可控、实时大数据服务及平台运营服务
                            </p>
                        </div>
                        <img src="~@/pages/product-smartvideo/assets/images/分析服务-light.png" class="content-item-img-light"/>
                    </div>
                    <div class="content-item col-md-6 col-12">
                        <img src="~@/pages/product-smartvideo/assets/images/售后服务@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                售后服务
                            </p>
                            <p class="content-item-body-value">
                                专业服务团队，强大售后体系，支持定制化服务
                            </p>
                        </div>
                        <img src="~@/pages/product-smartvideo/assets/images/售后服务-light.png" class="content-item-img-light"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
