<div class="group core-technology-wrapper">
    <div class="group-body core-technology d-none d-lg-flex">
        <div class="menu-wrapper">
            <a class="core-technology-menu active"><span>大数据处理</span></a>
            <a class="core-technology-menu"><span>图形图像识别</span></a>
            <a class="core-technology-menu"><span>视频监控与识别</span></a>
            <a class="core-technology-menu"><span>品牌车型库</span></a>
            <a class="core-technology-menu"><span>证件识别</span></a>
            <a class="core-technology-menu"><span>人工智能</span></a>
            <a class="core-technology-menu"><span>定位与跟踪</span></a>
            <a class="core-technology-menu"><span>车辆精准评估</span></a>
            <a class="core-technology-menu"><span>漆膜检测技术</span></a>
        </div>
        <div class="menu-content" id="core-technology-content">
            <div class="menu-card">
                <div class="menu-card-thumbnail">
                    <img src="~@/pages/core-technology/assets/icons/大数据存储@2x.png" />
                </div>
                <div class="menu-card-content">
                    <p class="title">大数据存储</p>
                    <p class="desc">数据处理性能全面提升，通过新一代的MPP并行数据库集群、Hadoop集群、内存技术及流计算技术应用，可建立企业级私有数据仓库服务，并支持海量数据秒级查询。</p>
                </div>
            </div>
            <div class="menu-card">
                <div class="menu-card-thumbnail">
                    <img src="~@/pages/core-technology/assets/icons/大数据存储@2x.png" />
                </div>
                <div class="menu-card-content">
                    <p class="title">大数据清洗</p>
                    <p class="desc">通过数据挖掘技术，将原始数据拆分成多个字段或将字段合并分组，补充残缺数据，判断错误数据、移除重复数据，赋予数据更多意义，实现数据价值。</p>
                </div>
            </div>
            <div class="menu-card">
                <div class="menu-card-thumbnail">
                    <img src="~@/pages/core-technology/assets/icons/大数据存储@2x.png" />
                </div>
                <div class="menu-card-content">
                    <p class="title">大数据分析</p>
                    <p class="desc">帮助企业建立高效的数据指标体系，用先进的事件模型抽象企业用户行为，提供多维度、多指标的交叉分析能力，360度洞察企业经营状况，实现企业评级分类，提供企业全域画像， 对异常数据可以做到及时风险预警，帮助金融机构实现精准决策 。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="group-body core-technology-mobile d-md-block d-lg-none">
        <!--        <div class="group-body core-technology-mobile">-->
        <div class="accordion" id="ctAccordion">
            <div class="card">
                <div class="card-header collapsed" id="ctCard1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <span>大数据处理</span>
                </div>

                <div id="collapse1" class="collapse" aria-labelledby="ctCard1" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/大数据存储@2x.png">
                            <div class="card-body-content">
                                <h4>大数据存储</h4>
                                <h6>数据处理性能全面提升，通过新一代的MPP并行数据库集群、Hadoop集群、内存技术及流计算技术应用，可建立企业级私有数据仓库服务，并支持海量数据秒级查询。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/大数据清洗@2x.png">
                            <div class="card-body-content">
                                <h4>大数据清洗</h4>
                                <h6>通过数据挖掘技术，将原始数据拆分成多个字段或将字段合并分组，补充残缺数据，判断错误数据、移除重复数据，赋予数据更多意义，实现数据价值。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/大数据分析@2x.png">
                            <div class="card-body-content">
                                <h4>大数据分析</h4>
                                <h6>帮助企业建立高效的数据指标体系，用先进的事件模型抽象企业用户行为，提供多维度、多指标的交叉分析能力，360度洞察企业经营状况，实现企业评级分类，提供企业全域画像， 对异常数据可以做到及时风险预警，帮助金融机构实现精准决策 。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <span>图形图像识别</span>
                </div>

                <div id="collapse2" class="collapse" aria-labelledby="ctCard2" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/图片真假识别@2x.png">
                            <div class="card-body-content">
                                <h4>图片真假识别</h4>
                                <h6>通过机器学习技术的应用，系统可以自动识别照片是对显示器拍摄还对实物拍摄，随着训练集数据的积累完善，模型的预测会更加准确。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/图像加密@2x.png">
                            <div class="card-body-content">
                                <h4>图形图像加密</h4>
                                <h6>数字图像加密包含二部分，一个是加密和解密的应用，一个是图像防伪水印。加密环节主要采用加密算法对目标图像进行操作，使其变为不可识别的密文，达到图像保密的目的。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/人脸识别@2x.png">
                            <div class="card-body-content">
                                <h4>人脸识别</h4>
                                <h6>通过对眼、口、鼻轮廓等人脸多个关键点定位，支持不同精度的人脸关键点定位，人脸识别技术可适应大角度侧脸、大表情变化、遮挡、模糊、明暗变化等各种实际环境。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    <span>视频监控与识别</span>
                </div>

                <div id="collapse3" class="collapse" aria-labelledby="ctCard3" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/视频监控@2x.png">
                            <div class="card-body-content">
                                <h4>视频监控</h4>
                                <h6>通过对经销商主库或者二库搭建远程视频监控设备，轻松实现经销商所有库存车辆24小时实时监控。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/视频主体识别@2x.png">
                            <div class="card-body-content">
                                <h4>视频主体识别</h4>
                                <h6>通过人工智能和深度学习算法，系统可以自动识别监控范围内的车辆主体及车辆位置信息。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/无人盘库@2x.png">
                            <div class="card-body-content">
                                <h4>无人盘库</h4>
                                <h6>通过车辆主体、车辆位置、人脸识别的技术应用，可实时了解库存车辆数量变化、车辆位置变化、人员进出变化等情况，可以实时预警。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard4" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    <span>品牌车型库</span>
                </div>

                <div id="collapse4" class="collapse" aria-labelledby="ctCard4" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/全品牌车型覆盖@2x.png">
                            <div class="card-body-content">
                                <h4>全品牌车型覆盖</h4>
                                <h6>自建全品牌、全车系、全车型车辆数据库，包含所有车型对应的照片信息。并提供了完善安全的数据API服务，满足企业及开发者对品牌车型调用的一站式服务。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/完善的车辆配置@2x.png">
                            <div class="card-body-content">
                                <h4>完善的车辆配置</h4>
                                <h6>配置信息包含：发动机&变速箱、底盘转向&车轮制动、安全装备、操控配置、外部配置、内部配置等180项车辆超详细配置信息。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/行驶证驾驶证识别@2x.png">
                            <div class="card-body-content">
                                <h4>VIN自动识别</h4>
                                <h6>通过17位VIN解析算法，可以自动识别出该VIN码对应的品牌、车系和车型，可直接查看该车型详细的出厂配置信息。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    <span>证件识别</span>
                </div>

                <div id="collapse5" class="collapse" aria-labelledby="ctCard5" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/身份证识别@2x.png">
                            <div class="card-body-content">
                                <h4>身份证识别</h4>
                                <h6>基于深度学习技术，可自动对证件图像分类，自动区分正反面，自动检测证件边缘、裁切，对于分辨率低、文字模糊的图像也能很好的识别。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/行驶证驾驶证识别@2x.png">
                            <div class="card-body-content">
                                <h4>行驶证/驾驶证识别</h4>
                                <h6>可以在1秒内识别出行驶证/驾驶证/VIN信息，识别精准度达99%，识别技术适用于汽修、汽车金融、汽配、二手车交易等汽车后市场行业为实现高效、精确的自动化业务提供了技术支撑。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/车辆合格证识别@2x.png">
                            <div class="card-body-content">
                                <h4>车辆合格证识别</h4>
                                <h6>自主车辆合格证识别算法，通过合格证二维码可以直接识别出车辆品牌、型号、排量、发动机号、车架号等信息。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard6" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    <span>人工智能</span>
                </div>

                <div id="collapse6" class="collapse" aria-labelledby="ctCard6" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/人机对话@2x.png">
                            <div class="card-body-content">
                                <h4>人机对话</h4>
                                <h6>通过对底层的自然语言处理、知识挖掘等核心技术的应用，实现人机对话交互，用户可以查询信息，用户也可以和机器进行聊天对话。主要应用在线客服、智能助手、服务机器人等场景。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/机器学习@2x.png">
                            <div class="card-body-content">
                                <h4>机器学习</h4>
                                <h6>通过成熟的算法模型、大数据分析、机器学习等工具，精准计算出企业用户画像，算法主要包含SVM、决策树、神经网络、集成学习、近邻分类法、逻辑回归法等。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/模型训练@2x.png">
                            <div class="card-body-content">
                                <h4>模型训练</h4>
                                <h6>模型训练包含三部分训练、评估和调试，通过对各种分类模型本质问题找到理性的参数，使用模型预测更准确，模型训练是个不断修正的过程，模型如果存在差异，就需要对模型以及训练过程进行调试，训练过程包含样本训练集、测试集、特征值等进行调试，最终实现机器学习的目的。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard7" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                    <span>定位与跟踪</span>
                </div>

                <div id="collapse7" class="collapse" aria-labelledby="ctCard7" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/位置精准定位@2x.png">
                            <div class="card-body-content">
                                <h4>位置精准定位</h4>
                                <h6>通过GPS／北斗／Wi-Fi等多种定位方式获取定位信息经纬度，并以组合定位方法保证持续高精度的定位，室外通过GPRS定位，室内、地下停车场、高楼林立等GPRS定位困难时采用GSM定位，实现全天候、无死角监控。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/轨迹跟踪@2x.png">
                            <div class="card-body-content">
                                <h4>轨迹跟踪</h4>
                                <h6>通过多个定位点的拼接组合，结合主流地图软件，实现完整的移动轨迹实施跟踪。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/轨迹回放@2x.png">
                            <div class="card-body-content">
                                <h4>轨迹回放</h4>
                                <h6>轨迹回溯查看，移动过程更透明，轻松掌握完成的轨迹信息。具体包含时间、地点、路线和区域、停留时间等情况。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard8" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                    <span>车辆精准评估</span>
                </div>

                <div id="collapse8" class="collapse" aria-labelledby="ctCard8" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/二手汽车云评估服务@2x.png">
                            <div class="card-body-content">
                                <h4>二手汽车云评估服务</h4>
                                <h6>通过自主领先的二手估值模型、结合大数据分析和机器学习技术应用，为二手汽车金融和二手汽车交易服务商提供高效、安全的第三方审核、监测、评估、风控服务。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/自有核心评估算法@2x.png">
                            <div class="card-body-content">
                                <h4>自有核心评估算法</h4>
                                <h6>自主研发领先的二手估值模型、结合大数据分析和机器学习技术应用，实现二手车剩余残值自动计算。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/专家评估师评估@2x.png">
                            <div class="card-body-content">
                                <h4>专家评估师评估服务</h4>
                                <h6>提供资深评估师评估服务，满足企业、个人及金融机构特定场景的特定业务需求。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="ctCard9" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                    <span>漆膜检测技术</span>
                </div>

                <div id="collapse9" class="collapse" aria-labelledby="ctCard9" data-parent="#ctAccordion">
                    <div class="card-body">
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/蓝牙自动匹配@2x.png">
                            <div class="card-body-content">
                                <h4>蓝牙自动匹配</h4>
                                <h6>无需链接数据线，无需手动进行蓝牙匹配操作，漆膜检测设备与手机蓝牙自动链接，检测数据实时传输，业务操作非常便捷。</h6>
                            </div>
                        </div>
                        <div class="card-cell">
                            <img src="~@/pages/core-technology/assets/icons/自有检测算法@2x.png">
                            <div class="card-body-content">
                                <h4>自有检测算法</h4>
                                <h6>通过大数据分析和多年的实际业务数据应用，自建品牌车型标准漆膜值数据库和检测模型算法，实现针对不同品牌车型进行漆膜检测时1秒反馈检测结果。</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
