@import "~@/components/navHeader/light.scss";
@import "~@/styles/global.scss";
@import "~@/styles/product.scss";
@import "~@/components/footer/style.scss";

.product-footer {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: url("~@/assets/product-innercontrol-footer.png") no-repeat center;
    background-size: cover;
  }
}

.innercontrol-group1 {
  padding-left: 0;
  padding-right: 0;
}

.product-innercontrol-group4-content {
  span {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #333333;
    margin-bottom: 14px;
  }
}
