<div class="content_page1">
    <div class="data_title">
        <div class="font">目前二手车评估方法及业务参与方式</div>
        <div class="font_e">USED CAR EVALUATION</div>
    </div>
    <div class="fwcon_page">
        <div class="fwcon_con">
            <div class="title_font">
               <div class="font_name">评估师人工评估</div>
               <div class="font_con">主要由二手车商或二手车评估机构组成，主要应用线下二手车买卖业务。</div>
               <div class="font_name">线上在线评估</div>
               <div class="font_con">简单粗暴的评估方法，选择固定的品牌车系，车辆年限、公里数等车辆信息，套用市场公开的车辆评估公式进行车辆评估价格。因为技术实现简单，通常是线上平台免费提供服务。</div>
               <div class="font_name">买卖数据为主</div>
               <div class="font_con">以API形式提供服务，直接根据车辆保值率来计算车辆评估价格，因为车辆评估是一个复杂的工作，并且过程环节较多，很难真实反映车辆最终价值，这种形式主要是卖数据为主。</div>
               <div class="font_name">车银通评估</div>
               <div class="font_con">建立车辆数据信息中心，自有车辆残值机器学习模型，可根据业务定制化采集车辆消息和漆模检测信息，为每台车辆建立车辆电子档案管理，对于特殊类型品牌或车系，系统能自动识别并推荐采集类型和采集点数量，真正做到一车一况。</div>
            </div>
            <!-- <img class="d-none d-lg-block" src="../assets/icons/组 636.png"/> -->
        </div>
        <img class="d-none d-lg-block" src="../../../assets/carSeApply-img1.png">
    </div>
    <div class="fwcon_sm">
        <img class="d-block d-lg-none" src="../assets/icons/组 636.png"/>
        <img class="d-block d-lg-none" src="../../../assets/carSeApply-img1.png">
    </div>
</div>
<div class="content_page2">
    <div class="group core-technology-wrapper">
        <div class="menu_title">
            <div class="tit">我们的服务内容</div>
            <div class="tit_en">THE SERVICE CONTENT</div>
        </div>
        <div class="group-body core-technology  d-lg-flex">
       
            <div class="menu-wrapper">
                <a class="core-technology-menu active"><span>车辆数据服务</span></a>
                <a class="core-technology-menu"><span>车辆评估服务</span></a>
                <a class="core-technology-menu"><span>运营服务</span></a>
                <a class="core-technology-menu"><span>风险监控服务</span></a>
                <a class="core-technology-menu"><span>业务系统服务</span></a>
            </div>
        
            <div class="menu-content" id="core-technology-content">
                <div class="menu-card">
                    <div class="menu-card-content">
                        <p class="title d-none d-lg-block"></p>
                        <p class="desc"></p>
                    </div>
                    <div class="menu-card-thumbnail" id="menu-card-thumbnail">
                        <div class="card-item">
                            <img />
                            <div>
                                <p class="title"></p>
                                <p class="subtitle"></p>  
                            </div>                                    
                        </div>
                        <div class="card-item">
                            <img />
                            <div>
                                <p class="title"></p>
                                <p class="subtitle"></p>  
                            </div>               
                        </div>                           
                        <div class="card-item">
                            <img />
                            <div>
                                <p class="title"></p>
                                <p class="subtitle"></p>  
                            </div>                   
                        </div>                           
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_page5">
    <div class="data_title">
        <div class="font">我们的评估体系</div>
        <div class="font_e">OUR EVALUATION SYSTEM</div>
    </div>
    <img class="d-none d-lg-block" src="../assets/评估体系架构图.svg"/>
    <img class="d-block d-lg-none" src="../assets/评估体系架构图 2.svg"/>
</div>
<div class="content_page3">
    <div class="data_title">
        <div class="font">自有车辆数据信息中心</div>
        <div class="font_e">DATA INFORMATION CENTER</div>
        <div class="font_con">经过5年不断的数据积累，通过大数据分析、数据清洗和车型整合算法模型，对复杂的车型数据进行拆分、合并、补充残缺数据、移除重复数据处理，建立车辆数据信息中心，目前车辆数据中心主要应用于VIN码识别、品牌车型价格数据支持和API接口服务。</div>
    </div>
    <div class="data_card">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/车辆历史数据@2x.png">
                    <p class="title">车辆历史数据</p>
                    <p class="subtitle">支持全车型车辆180项出厂信息查询，并支持新能源200+项车辆出厂信息查询，目前平均每天约2000次调用查询，响应数据快，1秒返回查询结果。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/车辆现状数据@2x.png">
                    <p class="title">车辆现状数据</p>
                    <p class="subtitle">通过技术手段对车辆基础信息数据、车身照片、车辆手续照片、漆膜检测数据、区域车商交易数据、区域4S店交易数据、车辆维保数据和车辆碰撞数据进行全方位的车辆信息采集。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/车辆未来数据@2x.png">
                    <p class="title">车辆未来数据</p>
                    <p class="subtitle">车辆数据信息中心自有车辆保值率算法模型，将各个渠道收集到的二手车交易数据汇总，经过严谨的数据清洗、去除重复或异常数值后，再进行不断的建模训练，可以计算不同品牌车系的保值率和车辆未来价格预测，并且上下误差控制在5％左右。 </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_page4">
    <div class="data_title">
        <div class="font">车辆鉴定评估体系</div>
        <div class="font_e">EVALUATION SYSTEM</div>
        <div class="font_con">每一台车都是独一无二的，二手车鉴定评估工作是一个比较复杂的过程，车银通通过自主产权的技术应用，高效检测车辆的真实情况，重点排查事故车、水淹车、火烧车等情况，进行精准、公正的车辆剩余市场价值评估，评估后会提供专业的车况检测评估报告，避免二手车后续安全隐患。</div>
    </div>
    <div class="cont_list">
        <div class="icon_card">
            <img src="../assets/icons/自动识别技术@2x.png">
            <div>
                <div class="title">自动识别技术</div>
                <div class="subtitle">对于采集上来的车辆图片信息、手续图片信息或拍摄的视频信息，通过AI智能识别技术，可以自动识别并处理车辆异常情况，并能通过照片或视频进行造假识别。</div>
            </div>
        </div>
        <div class="icon_card">
            <img src="../assets/icons/车辆残值模型@2x.png">
            <div>
                <div class="title">车辆残值模型</div>
                <div class="subtitle">影响车辆残值的因素包含车辆价格、品牌价值、车辆保有量、地方政策、城市结构、社会事件、舆论导向等，车银通通过大数据分析，建立车辆评估特性数据模型，通过不断的机器学习来训练评估模型的精准度，与市场上其它在线车辆估价平台数据对比，车辆残值模型计算的车辆评估价值，平均差异率在1.42％左右，符合真实市场车辆价值，可满足车辆在线自动评估的需求。</div>
            </div>
        </div>
        <div class="icon_card">
            <img src="../assets/icons/车辆评估算法@2x.png">
            <div>
                <div class="title">车辆评估算法</div>
                <div class="subtitle">车辆残值率×市场波动率×市场交易价。其中：（1）车辆残值率：是根据车辆自身真实信息通过车辆残值模型计算；（2）市场波动率：是通过外部影响因素风险监控数据实时反馈计算；（3）市场交易价是通过车辆数据信息中心计算给出。</div>
            </div>
        </div>
        <div class="icon_card">
            <img src="../assets/icons/资深专家评估@2x.png">
            <div>
                <div class="title">资深专家评估</div>
                <div class="subtitle">二手车评估一个重要参考依据是车辆过往数据，但是对于保有量小的车辆（特殊渠道车源的进口车、特种车、定制车），无法获取大量的历史交易数据，缺乏评估的历史数据支持，这种情况下需要经验丰富的评估师进行人工评估，为了满足企业、个人及金融机构特定场景及特定业务需求，可提供定制化人工评估服务。</div>
            </div>
        </div>
    </div>
</div>
