<div class="content_page1">
    <div class="data_title">
        <div class="font_e">PROFESSIONAL</div>
        <div class="font">专业运营团队</div> 
        <div class="font_e">OPERATION TEAM</div>
    </div> 
    <div class="data_card">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card card_sm">
                    <img src="../assets/icons/运营总监@2x(1).png">
                    <p class="title">运营总监</p>
                    <p class="subtitle">团队责任人，负责日常沟通协调。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card card_sm">
                    <img src="../assets/icons/项目经理@2x.png">
                    <p class="title">项目经理</p>
                    <p class="subtitle">负责项目管理和项目进度跟进。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card card_sm">
                    <img src="../assets/icons/技术团队@2x.png">
                    <p class="title">技术团队</p>
                    <p class="subtitle">负责系统及APP产品迭代升级、日常维护、定制化开发。</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="icon_card" style="margin: 0 auto;">
                    <img src="../assets/icons/客服团队@2x(1).png">
                    <p class="title">客服团队</p>
                    <p class="subtitle">负责业务及系统培训，负责与客户进行具体业务沟通、标准化流程审核工作。</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="icon_card" style="margin: 0 auto;">
                    <img src="../assets/icons/风控团队@2x.png">
                    <p class="title">风控团队</p>
                    <p class="subtitle">持续关注经销商的连续性操作，放款连续性、还款连续性、赎回等连续性业务，判断经销商现金流是否持续稳定，如果异常波动系统会预先发出预警通知，做到风险预判实现风险管理。</p>
                </div>
            </div>
        </div>   
        <div class="row no-gutters">
            
        </div>
    </div>  
</div>
<div class="content_page2">
    <div class="content_page1">
        <div class="data_title">
            <div class="font_e">OPERATIONAL</div>
            <div class="font">运营服务范围</div> 
            <div class="font_e">SERVICE SCOPE</div>
        </div> 
        <div class="data_card">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="icon_card">
                        <img src="../assets/icons/业务培训服务@2x(1).png">
                        <p class="title">业务培训服务</p>
                        <p class="subtitle">运营人员电话与监管方、经销商人员培训具体操作流程，省去银行客户经理、中后台的大量沟通工作。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="icon_card">
                        <img src="../assets/icons/资料真实性审核服务@2x.png">
                        <p class="title">资料真实性审核服务</p>
                        <p class="subtitle">针对二网真实性、合同资料、营业执照等资料进行调查及审核。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="icon_card">
                        <img src="../assets/icons/前端运营服务@2x.png">
                        <p class="title">前端运营服务</p>
                        <p class="subtitle">运营人员保持与客户的密切沟通，主动向客户了解是经营及融资需求，协助客户经理引导客户多开展融资业务，促进银行融资业务的发展。</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="icon_card" style="margin: 0 auto;">
                        <img src="../assets/icons/中后台运营服务@2x(1).png">
                        <p class="title">中后台运营服务</p>
                        <p class="subtitle">通过系统信息推动+人工介入的方式，任一环节在规定时效内未响应，运营人员会立即介入，进行催办，同时进行答疑，提高业务办理时效。</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="icon_card" style="margin: 0 auto;">
                        <img src="../assets/icons/定制化服务@2x.png">
                        <p class="title">定制化服务</p>
                        <p class="subtitle">可根据客户需求，提供专业的定制化服务。</p>
                    </div>
                </div>
            </div>   
        </div>  
    </div>
</div>
<div class="content_page1">
    <div class="data_title">
        <div class="font_e">STANDARDIZED OPERATION</div>
        <div class="font">标准化运营服务体系</div> 
        <div class="font_e">SERVICE SYSTEM</div>
    </div> 
    <div class="data_card">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/数字化运营@2x(1).png">
                    <p class="title">数字化运营</p>
                    <p class="subtitle">通过运营服务数字化实现业务流程标准化、管理透明化、减少人工干预，实现全面运营效率提升。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/建立行业数据库@2x.png">
                    <p class="title">建立行业数据库</p>
                    <p class="subtitle">围绕企业经营范围，建立企业数据收集机制，持续对企业的经营分析、融资使用分析、财务分析、與情监控分析等数据进行收集，实现数据的沉淀，形成自有大数据分析系统。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/智慧化运营@2x.png">
                    <p class="title">智慧化运营</p>
                    <p class="subtitle">全面利用行业数据和企业经营数据，实现业务提前预判，运营人员可通过系统预判提醒进行针对性运营服务。</p>
                </div>
            </div>
        </div>   
    </div>  
</div>