
<div class="page_header">
    <div class="header_bar">
        <img src="../../../assets/mianzesm-banner.png">
    </div>
</div>
<div class="info_page">
    <div class="title">
        关于不法分子盗用我公司名义进行网络诈骗的严正声明
    </div>
    <div class="content">
        <p>近期，我公司接到多起来电举报，发现有不法分子冒用我司名义打着教刷单、兼职赚钱、骗取保证金、培训费等诈骗事件。此举不仅严重损害我司声誉，更是蓄意欺诈，涉嫌刑事犯罪。我司对冒用我司名义进行诈骗的非法行为予以强烈谴责， 对此，我公司严正声明如下： </p>
        <p>一、我公司全称为：“北京车车网络技术有限公司”，简称：“北京车车”。</p>
        <p>二、我公司的备案官方网站为：www.chechebj.com，其余域名均为假冒。</p>
        <p>三、我公司业务范围均在官网展示，从未有过刷单、兼职赚钱等相关业务，亦未授权任何单位、个人开展上述业务。 任何单位、个人与冒用我司名义的不法分子之间发生的一切交易行为，我公司均不承担任何责任。</p>
        <p>四、我公司的官方唯一客服电话为400-800-7107，其余电话均为假冒。</p>
        <p>五、我公司严正声明，郑重警告正在冒用我公司信息的个人或团体，请立即停止这种违法行为！我司保留依法追究其相关责任的权利，并将根据法律程序严肃处理，坚决维护我司的声誉和权益。</p>
        <p>在此，我公司特别提醒广大消费者，谨防上当受骗，以免财产遭受损失。因受对方假冒公司的诈骗行为而引起有关经济、法律的纠纷，一概与我公司无关。如遇类似事件上当受骗者，请第一时间向公安机关报案。另请广大社会公众仔细甄别，切勿上当受骗。 </p>
        <p class="tecism">特此申明！</p>
        <p>北京车车网络技术有限公司</p>
        <p>2020年3月11日</p>
    </div>
   
</div>