<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            深入调研巡库业务，满足日常巡库业务需求，为巡库业务定制开发的软件系统工具。线上线下相结合，实现巡库管理的数字化、信息化、规范化和智能化。通过对线上线下资源整合和大数据分析技术应用，有效降低人为因素带来的巡检风险问题，最大程度提升工作效率和提高数据传输的即时性，有效降低金融机构的风险。
        </p>
    </div>
</div>
<div class="group">
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title">贷后管理的问题</span>
                </div>
                <div class="content-list row">
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">1</span>
                        <span class="content-list-value">宏观环境复杂多变，信贷风险不易把控：经销商企业的经济效益呈现出明显下降的趋势，民间高息融资风险显现，涌现出众多客户“跑路”的现象，导致信贷风险更为复杂、更加难以把握，贷后管理难度明显上升</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">2</span>
                        <span class="content-list-value">客户经理数量不足，疲于应付各项工作：客户经理普遍面临销售任务重、工作压力大，日常事务多，还要应对各种不定期的检查，导致客户经理贷后管理趋于形式，目前客户经理能做到半年去一次客户现场就不错了</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">3</span>
                        <span class="content-list-value">确保客户不流失，不愿过多揭示风险：银行业竞争呈现出愈加白热化的趋势，对于高质量客户以确保客户不“流失”。某些时候为了维护客户，即使知道客户存在某些潜在风险，但是客户经理通常不会如实反映</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">4</span>
                        <span class="content-list-value">贷后管理办法落后，不满足业务发展需求：目前贷后管理办法存在同质化、兜底条款多、操作性不强、内容多而杂、信贷管理制度繁多等问题，同时造成信贷人员难以操作，已严重不适应当前信贷业务发展的需要</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 thumbnail-part d-lg-flex d-none">
                <img src="~@/assets/product-loanmanagement-产品服务的人员.png">
            </div>
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">产品服务的人员</span>
                </div>
                <p class="content cheyouhui-content-small">
                    稽核员：主要负责复审复核巡库业务，监督分析员和巡库员的任务工作<br />
                    分析员：对接银行收集物理网点，发送巡库结果；对接其他分部分析员，内部沟通，任务流转；对接巡库员，下发并审核巡库任务<br />
                    巡库员：根据任务指令，制定并执行巡库计划<br />
                    银行人员：实时查看巡库任务进度及结果，下发增加巡库网点或贷后巡检网点指令
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-loanmanagement-产品服务的人员.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content darkbg">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">产品功能介绍</span>
                </div>
                <p class="content">
                    巡库计划准备：主要是巡库前的准备工作，涉及每个分部巡库组的划分、以及巡库计划的上传、下发（整个巡库计划按照组别自动分发下去，里边包含该组需要巡查的网点）<br />
                    巡库任务管理与执行：巡库员执行巡库计划，分析员审核巡库任务，巡库员在此可以查看本月计划，进行巡库报备，查看分析员的指令，制作报表、上传照片等工作<br />
                    贷后巡检管理：和易查库系统打通，可下发易查库抽查任务进行盘查。距离过远的也可下发易查库抽查任务进行盘库，既提升工作效率，也有一定时效性
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part">
                <img src="~@/assets/product-loanmanagement-产品功能介绍.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">04</span>
                    <span class="title">产品优势</span>
                </div>
                <div class="content-grid row no-gutters">
                    <div class="content-grid-item-wrapper col-lg-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-loanmanagement/assets/images/查找@2x.png"/>
                            <p class="content-grid-value">巡库任务有迹可循，方便查找，成熟后无需再存放大量纸质文件</p>
                        </div>
                    </div>
                    <div class="content-grid-item-wrapper col-lg-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-loanmanagement/assets/images/7天@2x.png"/>
                            <p class="content-grid-value">降低学习成本，现在新人学习时间大约1-2个月，系统成熟后，有望降低到1周左右</p>
                        </div>
                    </div>
                    <div class="content-grid-item-wrapper col-lg-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-loanmanagement/assets/images/扫描@2x.png"/>
                            <p class="content-grid-value">车架号照片和合格证自动识别功能，提高工作效率</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
