<div class="group">
    <div class="group-header">
        <p class="title">核心产品</p>
        <p class="subtitle">THE CORE PRODUCT</p>
    </div>
    <div class="group-body">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-yichaku.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon1.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon1-active.png">
                    <p class="title">易查库</p>
                    <p class="subtitle">全面的二网管理解决方案</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-cheyinrongtong.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon2.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon2-active.png">
                    <p class="title">车银融通</p>
                    <p class="subtitle">二手车库存融资业务解决方案</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-innercontrol.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon3.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon3-active.png">
                    <p class="title">汽车金融内控管理</p>
                    <p class="subtitle">提供内外勤管理解决方案</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-cheyouhui.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon4.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon4-active.png">
                    <p class="title">车有汇</p>
                    <p class="subtitle">汽车经销商电商化解决方案</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-loanmanagement.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon5.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon5-active.png">
                    <p class="title">贷后巡库</p>
                    <p class="subtitle">贷后走访及现场巡库解决方案</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <a class="core-product-card" href="/product-smartvideo.html">
                    <img class="app-icon" src="~@/pages/main/assets/icons/app-icon/icon6.png">
                    <img class="app-icon active" src="~@/pages/main/assets/icons/app-icon/icon6-active.png">
                    <p class="title">智能视频监控</p>
                    <p class="subtitle">库存车24小时视频监控解决方案</p>
                </a>
            </div>
        </div>
    </div>
</div>
