<div class="group" id="main-scene">
    <div class="group-header">
        <p class="prevtitle">TECHNICAL AND SERVICE APPLICATION</p>
        <p class="title">技术及服务场景</p>
        <p class="subtitle">SCENARIOS</p>
    </div>
    <div class="group-body">
        <div class="scene-swiper-header">
            <span class="title active">二网及库存管理</span>
            <span class="title">二手车评估服务</span>
            <span class="title">数据挖掘与分析</span>
            <span class="title">汽车电商</span>
            <span class="title">智能化运营服务</span>
            <span class="title">贷后巡库</span>
        </div>
        <div class="scene-swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-content slide1">
                        <img src="~@/assets/main-经销商及二网库存盘点@2x.png"/>
                        <div class="overlay">
                            <p class="title">二网及库存管理</p>
                            <p class="subtitle">服务于银行、汽车金融机构，全面的经销商及二网车辆管理解决方案</p>
                            <a class="link" href="/ewApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content slide2">
                        <img src="~@/assets/main-二手车评估@2x.png"/>
                        <div class="overlay">
                            <p class="title">二手车评估服务</p>
                            <p class="subtitle">提供专业、智能、标准化的二手车评估整体解决方案</p>
                            <a class="link" href="/carSeApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content slide3">
                        <img src="~@/assets/main-大数据挖掘及分析@2x.png"/>
                        <div class="overlay">
                            <p class="title">数据挖掘与分析</p>
                            <p class="subtitle">挖掘数据自身价值，精准计算企业用户画像 </p>
                            <a class="link" href="/dataApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content slide4">
                        <img src="~@/assets/main-汽车电商@2x.png"/>
                        <div class="overlay">
                            <p class="title">汽车电商</p>
                            <p class="subtitle">为汽车经销商量身打造，搭建基于微信的移动商城</p>
                            <a class="link" href="/carApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content slide5">
                        <img src="~@/assets/main-智能化运营服务@2x.png"/>
                        <div class="overlay">
                            <p class="title">智能化运营服务</p>
                            <p class="subtitle">省心省力，覆盖全部经销商，为银行资产保驾护航</p>
                            <a class="link" href="/operApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content slide6">
                        <img src="~@/assets/main-贷后巡库@2x.png"/>
                        <div class="overlay">
                            <p class="title">贷后巡库</p>
                            <p class="subtitle">专注巡库业务11年，成为银行的运程眼睛与风控的抓手</p>
                            <a class="link" href="/dhApply.html">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="scene-swiper-pagination"></div>
        </div>
    </div>
</div>
<div class="group" id="main-partner">
    <div class="group-header">
        <p class="title">合作伙伴</p>
        <p class="subtitle">OUR PARTNERS</p>
    </div>
    <div class="group-body">
        <div class="partner-content">
            <img src="~@/assets/main-合作伙伴@2x.png" />
        </div>
    </div>
</div>
