<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide1">
            <div class="slide-content">
                <img class="d-none d-lg-block d-xl-block" src="~@/assets/main-banner1.png" alt="做最好的汽车金融领域服务商"/>
                <img class="d-lg-none d-xl-none d-md-block" src="~@/assets/main-banner1-h5.png" alt="做最好的汽车金融领域服务商"/>
                <a class="swiper1-link" href="/core-technology.html"><span>快速进入</span></a>
            </div>
        </div>
        <div class="swiper-slide slide2">
            <div class="slide-content">
                <img class="d-none d-lg-block d-xl-block" src="~@/assets/main-banner3.png" alt="全面提升汽车行业及汽车金融领域的业绩效率及质量"/>
                <img class="d-lg-none d-xl-none d-md-block" src="~@/assets/main-banner3-h5.png" alt="全面提升汽车行业及汽车金融领域的业绩效率及质量"/>
                <a class="swiper1-link" href="/product-yichaku.html"><span>快速进入</span></a>
            </div>
        </div>
        <div class="swiper-slide slide3">
            <div class="slide-content">
                <img class="d-none d-lg-block d-xl-block" src="~@/assets/main-banner2.png" alt="有效帮助金融机构准确识别潜在的业务风险"/>
                <img class="d-lg-none d-xl-none d-md-block" src="~@/assets/main-banner2-h5.png" alt="有效帮助金融机构准确识别潜在的业务风险"/>
                <a class="swiper1-link" href="/dataApply.html"><span>快速进入</span></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-inform">
	<div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="/mianzesm.html">
                <img src="../assets/icons/通告ICON.svg"/>
                <span>关于不法分子盗用我公司名义进行网络诈骗的严正声明</span>   
                <img class="jiantou" src="../assets/icons/箭头.svg"/>
            </a>                  
        </div>
	</div>
</div>


