<div id="navibar">
    <div class="navibar-main">
        <a class="logo" href="/"></a>
        <div class="expand-menu d-none d-lg-block">
            <div class="expand-menu-area">
                <a class="menu" href="/">首页</a>
                <div class="menu">
                    <span>应用场景</span>
                    <div class="icon"></div>
                    <div class="submenu">
                        <div class="top-padding"></div>
                        <div class="submenu-bar">
                            <a class="submenu-item" href="/ewApply.html">二网及库存管理</a>
                            <a class="submenu-item" href="/dhApply.html">贷后巡库</a>
                            <a class="submenu-item" href="/dataApply.html">数据挖掘与分析</a>
                            <a class="submenu-item" href="/carApply.html">汽车电商</a>
                            <a class="submenu-item" href="/carSeApply.html">二手车评估服务</a>
                            <a class="submenu-item" href="/operApply.html">智能化运营服务</a>
                        </div>                      
                    </div>
                </div>
                <div class="menu">
                    <span>产品服务</span>
                    <div class="icon"></div>
                    <div class="submenu">
                        <div class="top-padding"></div>
                        <div class="submenu-bar">
                            <a class="submenu-item" href="/product-yichaku.html">易查库</a>
                            <a class="submenu-item" href="/product-cheyinrongtong.html">车银融通</a>
                            <a class="submenu-item" href="/product-cheyouhui.html">车有汇</a>
                            <a class="submenu-item" href="/product-loanmanagement.html">贷后巡库</a>
                            <a class="submenu-item" href="/product-innercontrol.html">汽车金融内控管理</a>
                            <a class="submenu-item" href="/product-smartvideo.html">智能视频监控</a>
                        </div>
                    </div>
                </div>
                <a class="menu" href="/core-technology.html">核心技术</a>
                <a class="menu" href="/apply-trial.html">产品体验</a>
                <a class="menu" href="/aboutus.html">关于我们</a>
            </div>
        </div>
        <div class="expand-menu d-md-block d-lg-none">
        </div>
        <div class="phone">
            <div class="img"></div>
            <a  href="tel:400-800-7107">400-800-7107</a>
        </div>
        <a class="collapse-menu d-lg-none d-md-flex" id="navibar-mobile-toggler">
            <div class="collapse-menu-icon"></div>
            <span class="collapse-menu-text">首页</span>
        </a>
    </div>
</div>
<div id="mobile-navi">
    <div id="mobile-navi-wrapper">
        <a class="menu" href="/">首页</a>
        <div class="menu menu-toggler" id="mobile-menu-toggle1">
            <span>应用场景</span>
            <div class="mobile-submenu" id="mobile-submenu1">
                <a class="menu submenu-item" href="/ewApply.html">二网及库存管理</a>
                <a class="menu submenu-item" href="/dhApply.html">贷后巡库</a>
                <a class="menu submenu-item" href="/dataApply.html">数据挖掘与分析</a>
                <a class="menu submenu-item" href="/carApply.html">汽车电商</a>
                <a class="menu submenu-item" href="/carSeApply.html">二手车评估服务</a>
                <a class="menu submenu-item" href="/operApply.html">智能化运营服务</a>
            </div>
        </div>

        <div class="menu menu-toggler" id="mobile-menu-toggle2">
            <span>产品服务</span>
            <div class="mobile-submenu" id="mobile-submenu2">
                <a class="menu submenu-item" href="/product-yichaku.html">易查库</a>
                <a class="menu submenu-item" href="/product-cheyinrongtong.html">车银融通</a>
                <a class="menu submenu-item" href="/product-cheyouhui.html">车有汇</a>
                <a class="menu submenu-item" href="/product-loanmanagement.html">贷后巡库</a>
                <a class="menu submenu-item" href="/product-innercontrol.html">汽车金融内控管理</a>
                <a class="menu submenu-item" href="/product-smartvideo.html">智能视频监控</a>
            </div>
        </div>
        <a class="menu" href="/core-technology.html">核心技术</a>
        <a class="menu" href="/apply-trial.html">产品体验</a>
        <a class="menu" href="/aboutus.html">关于我们</a>
    </div>
</div>
