<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            汽车金融内控管理系统致力于改善和提高银行等金融机构对内部员工管理水平，提升工作效率，优化内部管理流程，为银行等金融机构提供全方位的“内外勤管理”解决方案。外勤管理可以掌握外勤人员的在外考勤、行动轨迹、实时位置获取、客户拜访情况；而内勤管理覆盖了客户经理、综合员、信贷员、额度启用专员、渠道、监管方等多个角色，内勤人员在系统中操作完成工作流程，外勤人员可以通过系统实时查询客户信息、授信/出账状态，降低了沟通成本，提高整体团队工作效率。
        </p>
    </div>
</div>
<div class="group">
    <div class="container-fluid product-main-content innercontrol-group1">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title">汽车金融机构遇到的内部管理问题</span>
                </div>
                <div class="content-list row">
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">1</span>
                        <span class="content-list-value">无系统：缺少部门级内部管理系统，手工台账费时费力</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">2</span>
                        <span class="content-list-value">难管理：工作流程缺少系统支持，工作业绩及工作量不好掌握</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">3</span>
                        <span class="content-list-value">无跟踪：外勤出差缺少有效管理，相同出差时间业绩差别很大并无法跟踪原因</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">4</span>
                        <span class="content-list-value">成本高：内外勤沟通成本高，了解客户准确信息需要和不同角色人员多次沟通</span>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <span class="content-list-index">5</span>
                        <span class="content-list-value">无预警：手工台账费时费力，大量沉淀数据无法有效利用，很难做大数据分析预警</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content darkbg">
        <div class="row">
            <div class="col-lg-5 col-12 thumbnail-part d-lg-flex d-none">
                <img src="~@/assets/product-innercontrol-产品功能介绍.png">
            </div>
            <div class="offset-lg-1 col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">产品功能介绍</span>
                </div>
                <p class="content cheyouhui-content-small">
                    外勤核心功能：打卡签到、行程轨迹、客户管理、客户拜访、报表管理<br />内勤核心功能：新户维护、续作跟踪、授信变更、预约管理、面签管理</p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-innercontrol-产品功能介绍.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">产品解决的问题</span>
                </div>
                <div class="content-grid row no-gutters">
                    <div class="content-grid-item-wrapper col-sm-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-innercontrol/assets/images/外勤管理@2x.png"/>
                            <p class="content-grid-title">外勤管理</p>
                            <p class="content-grid-value">解决在外人员管理难、客户资源掌控难、业绩增长难三大难题</p>
                        </div>
                    </div>
                    <div class="content-grid-item-wrapper col-sm-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-innercontrol/assets/images/内勤管理@2x.png"/>
                            <p class="content-grid-title">内勤管理</p>
                            <p class="content-grid-value">解决与外勤沟通成本高、工作流程复杂、工作效率低三大难题</p>
                        </div>
                    </div>
                    <div class="content-grid-item-wrapper col-sm-4 col-12">
                        <div class="content-grid-item">
                            <img src="~@/pages/product-innercontrol/assets/images/预警管理@2x.png"/>
                            <p class="content-grid-title">预警管理</p>
                            <p class="content-grid-value">解决手工台账效率低、有数据难应用，风险不能先知先觉二大难题</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-5 col-12 thumbnail-part d-lg-flex d-none">
                <img src="~@/assets/product-innercontrol-产品优势.png">
            </div>
            <div class="offset-lg-1 col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">04</span>
                    <span class="title">产品优势</span>
                </div>
                <p class="content product-innercontrol-group4-content">
                    <span>拜访轨迹有跟踪：工作时间有轨迹记录，客户经理出差时都很“自觉”的提高了拜访效率</span>
                    <span>提高工作效率：内勤的工作流程搬到了系统中，客户信息的维护（授信、出账等）都非常及时，外勤人员可在系统随时查看，减少了很多电话沟通</span>
                    <span>满足全角色业务应用：内勤不同角色的工作时效都在系统中提醒出来，方便管理人员跟踪</span>
                    <span>业务预警：设置好预警参数，只需按时导入数据源，触发预警条件的经销商都会罗列出来，方便处理跟进（考虑数据的安全性，系统可以部署在银行内网环境）</span>
                    <span>报表自动生成：客户经理出差期间所有的拜访记录自动形成报表，一键导出即可立即交差，省时省力</span>
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-innercontrol-产品优势.png">
            </div>
        </div>
    </div>
</div>
