<div class="page_icon">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/移动额度减少@2x.png">
                <p class="title">移动额度减少</p>
                <p class="subtitle">保证金逐渐降低，部分品牌初始保证金低至10%，保证金可以覆盖的移动额度减少。</p>
            </div>
        </div> 
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/风控力度加强@2x.png">
                <p class="title">风控力度加强</p>
                <p class="subtitle">自2015年开始，银行逐渐加强汽车业务风控要求，部分品牌甚至退出授信。</p>
            </div>
        </div>                    
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/寻求二网精细化管理@2x.png">
                <p class="title">寻求二网精细化管理</p>
                <p class="subtitle">探讨二网管理的新模式、新技术，力图做到精细化管理。部分银行已经开始自己管理二网：营业执照、合同、额度审批等。 </p>
            </div>
        </div>                    
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/渠道持续下沉@2x.png">
                <p class="title">渠道持续下沉</p>
                <p class="subtitle">一、二线城市汽车销售趋于饱和，消费热点逐步向三四线城市转移。 </p>
            </div>
        </div>                    
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/成本低见效快@2x.png">
                <p class="title">成本低见效快</p>
                <p class="subtitle">4S店建设成本较高，回收周期长，小城市不足以支撑标准4S店。  </p>
            </div>
        </div>                    
        <div class="col-lg-4 col-md-6 col-6">
            <div class="icon_card">
                <img  src="../assets/icons/厂家支持力度强@2x.png">
                <p class="title">厂家支持力度强</p>
                <p class="subtitle">厂家支持经销商发展二网，不同程度给予政策支持。  </p>
            </div>
        </div>                    
    </div>
</div>
