<div class="page_list">
    <div class="list_title">
        <div class="title">基于运营服务＋技术服务的一整套二网管理解决方案 </div>
        <div class="subtitle">MANAGEMENT SOLUTIONS </div>
    </div>
    <div class="list_con">
        <div class="list_item">
            <img src="../../../assets/ewApply-img4.png"/>
            <div>
                <div class="item_tit">二网真实性管理</div>
                <div class="item_font">通过物联网技术手段，制定标准二网准入清单，多维度收集信息，确保二网主体及合作背景的真实有效。</div>
            </div>
        </div>
        <div class="list_item">
            <img src="../../../assets/ewApply-img2.png"/>
            <div>
                <div class="item_tit">二网车辆管理</div>
                <div class="item_font">对移出车辆进行轨迹跟踪，自动识别车辆位置，完整记录车辆移动轨迹，彻底解决4S店车辆出店后脱离管控的情况。</div>
            </div>
        </div>
        <div class="list_item">
            <img src="../../../assets/ewApply-img3.png"/>
            <div>
                <div class="item_tit">二网风险管理</div>
                <div class="item_font">通过系统自动风控算法，不定期检查二网车辆，系统自动判断异常情况，并由专人跟踪解决异常车辆，保证每台车都有迹可查。 </div>
            </div>
        </div>
    </div>
</div>
