<div class="page_mana">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12  col-12">
            <div class="mana_img">
                <div class="font_all">
                    <div class="font_e">MANAGEMENT</div>
                    <div class="font">二网管理难点</div>
                    <div class="font_e">DIFFICULTIES</div>
                </div>
                <img src="../../../assets/ewApply-img1.png"/>
            </div>
        </div>
        <div class="col-lg-6 col-md-12  col-12" style="margin-top: 100px;">
            <div class="mana_font">
                <div>
                    <span class="circle"><span class="min_circle"></span></span>
                </div>
                <div>
                    <div> 二网真实性出问题</div>
                    <div class="font_more">二网主体是否真实存在，经营场所具体位置等，金融机构无法进行精准把控。</div>
                </div>
            </div>
            <div class="mana_font">
                <div>
                    <span class="circle"><span class="min_circle"></span></span>
                </div>
                <div>
                    <div> 二网是善意第三人问题</div>
                    <div class="font_more">二网属于善意第三人，可对抗银行质权，金融机构无有效法律文本约束二网。 </div>
                </div>
            </div>
            <div class="mana_font">
                <div>
                    <span class="circle"><span class="min_circle"></span></span>
                </div>
                <div>
                    <div> 移动车辆管控问题</div>
                    <div class="font_more">对于移动在外车辆，车辆状态及轨迹无法进行有效跟踪及管控。 </div>
                </div>
            </div>
            <div class="mana_font">
                <div>
                    <span class="circle"><span class="min_circle"></span></span>
                </div>
                <div>
                    <div> 管理效率低</div>
                    <div class="font_more">传统二网管理方式效率低，形式大于实质。 </div>
                </div>
            </div>
        </div>
    </div>
</div>
