<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>北京车车网络技术有限公司-智能化运营服务</title>
    <%= require('html-loader!@/components/seo/index.html') %>
</head>
<body>
<div class="root">
    <%= require('html-loader!@/components/navHeader/index.html') %>
    <%= require('html-loader!./views/banner.html') %>
    <%= require('html-loader!./views/content.html') %>
    <%= require('html-loader!@/components/footer/index.html') %>
</div>
</body>
