<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            车有汇主要适用于汽车新零售场景产品。帮助传统汽车销售企业搭建基于微信小程序的移动商城，提供集新车销售、二手车销售、汽车周边服务、会员管理、活动营销为一体的线上线下结合的汽车电商管理平台。帮助汽车经销商解决客流不足、门店辐射局限性、企业形象、传播分享不足等经营场景问题。
        </p>
    </div>
</div>
<div class="group">
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title">传统汽车零售的问题</span>
                </div>
                <div class="content-list row">
                    <div class="content-item col-lg-6 col-md-12">
                        <span class="content-list-index">1</span>
                        <span class="content-list-value">店面位置、面积等因素的影响，展示的车型、人流量均受到限制</span>
                    </div>
                    <div class="content-item col-lg-6 col-md-12">
                        <span class="content-list-index">2</span>
                        <span class="content-list-value">获客渠道单一，巡展、发传单等传统客户获取成本高</span>
                    </div>
                    <div class="content-item col-lg-6 col-md-12">
                        <span class="content-list-index">3</span>
                        <span class="content-list-value">客户关系无法持续性维护，客户流失率高，没有充分利用</span>
                    </div>
                    <div class="content-item col-lg-6 col-md-12">
                        <span class="content-list-index">4</span>
                        <span class="content-list-value">管理方法粗犷，缺乏数据化支持，管理效率不断下降而成本不断攀升</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">车有汇微商城解决方案</span>
                </div>
                <div class="content-thumbnail row no-gutters">
                    <div class="content-item col-lg-6 col-12">
                        <img src="~@/pages/product-cheyouhui/assets/images/辐射人群更广@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                辐射人群更广
                            </p>
                            <p class="content-item-body-value">
                                微商城在线展示各种车型和相关配套服务，扩大人群的辐射面，用户也可以便捷的获取车辆商品及店铺活动信息
                            </p>
                        </div>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <img src="~@/pages/product-cheyouhui/assets/images/降低营销成本@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                降低营销成本
                            </p>
                            <p class="content-item-body-value">
                                基于本地客户的朋友圈分享进行口碑传播，再配合店铺活动，老客户带新客户，精准的获取本地客户，降低营销成本
                            </p>
                        </div>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <img src="~@/pages/product-cheyouhui/assets/images/收集线索信息@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                收集线索信息
                            </p>
                            <p class="content-item-body-value">
                                客户在线浏览、咨询、预约等会被收集到线索管理，对应客户的联系方式及时应对跟进，进一步发掘潜在客户，维护客户关系
                            </p>
                        </div>
                    </div>
                    <div class="content-item col-lg-6 col-12">
                        <img src="~@/pages/product-cheyouhui/assets/images/了解客户需求@2x.png"/>
                        <div class="content-item-body">
                            <p class="title">
                                了解客户需求
                            </p>
                            <p class="content-item-body-value">
                                长期积累的客户的数据，对于企业可以更加清晰的了解自己的业务， 更加容易的把控全局，更加数据化的了解自己的终端用户需求
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 thumbnail-part d-lg-flex d-none">
                <img src="~@/assets/product-cheyouhui-img1.png">
            </div>
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">车商为什么要用车有汇商城</span>
                </div>
                <p class="content cheyouhui-content-small">
                    汽车新零售的核心是基于门店位置去获取本地的线上客户。传统的汽车销售是通过当地电视台、广播、传单、展览等宣传方式，但是随着互联网的普及，人们已经不关注这些传播媒介了，他们的时间大部分都在手机上的微信、抖音这些APP上，这是线上客户的价值所在。而汽车又是需要亲身去体验的大宗交易商品，不能脱离实体门店，否则很难达成成交。所以微商城是最合适的帮助传统汽车销售增长的平台，既可以精准锁定本地客户，又可以进行朋友圈的分享传播
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-cheyouhui-img1.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content" id="cheyouhui-part4">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">04</span>
                    <span class="title">车有汇产品优势</span>
                </div>
                <div class="content-grid row no-gutters">
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/搭建便捷@2x.png"/>
                        <p class="content-grid-title">搭建便捷</p>
                        <p class="content-grid-value">搭建便捷，微商城小程序搭建方便，专人对接指导，1小时搭建完毕（易查库用户仅需5分钟）</p>
                    </div>
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/客户管理@2x.png"/>
                        <p class="content-grid-title">客户管理</p>
                        <p class="content-grid-value">意向和成交客户信息留存，便于管理和维护客户关系，活动期间推送优惠消息，增加客户黏度和后续收益</p>
                    </div>
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/商品管理@2x.png"/>
                        <p class="content-grid-title">商品管理</p>
                        <p class="content-grid-value">自有完整的车型库，车辆上传简单方便，支持多种促销商品形态，车辆精品、售后服务亦可上架</p>
                    </div>
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/店铺管理@2x.png"/>
                        <p class="content-grid-title">店铺管理</p>
                        <p class="content-grid-value">店铺个性化设置，促销活动轮播展示、店员管理、权限分配等等功能，一应俱全</p>
                    </div>
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/分销引流@2x.png"/>
                        <p class="content-grid-title">分销引流</p>
                        <p class="content-grid-value">分销引流，以客推客，限时秒杀、优惠返现、点赞助力、拼团砍价等多种营销功能配合使用，帮你引流获客，实现销量增长</p>
                    </div>
                    <div class="content-grid-item col-lg-4 col-6">
                        <img src="~@/pages/product-cheyouhui/assets/images/线索管理@2x.png"/>
                        <p class="content-grid-title">线索管理</p>
                        <p class="content-grid-value">线索管理，客户浏览轨迹，收藏历史查看，咨询列表在线答疑，二者相辅相成，进一步发掘潜在客户，提高成交率</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
