<div class="footer-wrapper">
    <div class="footer" id="footer">
        <div class="footer-header">
            <img src="./assets/logo.png" class="footer-logo"/>
            <div class="footer-phone">
                <img src="./assets/phone-light.png"/>
                <span>400-800-7107</span>
            </div>
        </div>
        <div class="footer-group">
            <span class="title">关于车车</span>
            <div class="footer-group-body">
                <a class="link" href="/aboutus.html">公司简介</a>
                <a class="link" href="/aboutus.html#organization">组织架构</a>
                <a class="link" href="/aboutus.html#grownup">成长经历</a>
                <a class="link" href="/aboutus.html#culture">企业文化</a>
                <a class="link" href="/aboutus.html#contactus">联系我们</a>
                <a class="link" href="/mianzesm.html">免责声明</a>
            </div>
        </div>
        <div class="footer-group">
            <span class="title">产品通道</span>
            <div class="footer-group-body">
                <a class="link" href="/product-yichaku.html">易查库</a>
                <a class="link" href="/product-cheyinrongtong.html">车银融通</a>
                <a class="link" href="/product-cheyouhui.html">车有汇</a>
                <a class="link" href="/product-loanmanagement.html">贷后巡库</a>
                <a class="link" href="/product-innercontrol.html">内控管理</a>
                <a class="link" href="/product-smartvideo.html">智能视频监控</a>
            </div>
        </div>
        <div class="footer-group">
            <span class="title">业务领域</span>
            <div class="footer-group-body">
                <a class="link" href="/ewApply.html">二网及库存管理</a>
                <a class="link" href="/dhApply.html">贷后巡库</a>
                <a class="link" href="/dataApply.html">数据挖掘与分析</a>
                <a class="link" href="/carApply.html">汽车电商</a>
                <a class="link" href="/carSeApply.html">二手车评估服务</a>
                <a class="link" href="/operApply.html">智能化运营服务</a>
            </div>
        </div>
        <div class="footer-group contactus">
            <span class="title">联系我们</span>
            <div class="footer-group-body">
                <span class="link d-none d-lg-block">商务合作：bc@chechebj.com<span class="divider">|</span>简历投递：hr@chechebj.com</span>
                <span class="link d-block d-lg-none">商务合作：bc@chechebj.com</span>
                <span class="link d-block d-lg-none">简历投递：hr@chechebj.com</span>
                <span class="link">北京：北京市朝阳区东四环中路195号楼9层909-1</span>
                <span class="link">广州：广州市中山大道中38号加悦大厦707室</span>
                <span class="link">上海：上海市宝山区同济路488号创客邦309室</span>
                <span class="link">天津：天津市红桥区咸阳北路48路银泰大厦A座15楼1504-2</span>
                <span class="link">大连：辽宁省大连高新技术产业园区七贤岭爱贤街10号设计城A座第4层415</span>
                <span class="link">深圳：深圳市南山区南头街道大汪山社区桃园东路1号西海明珠大厦11楼C23</span>
            </div>
        </div>
        <div class="followus">
            <span>关注易查库公众号</span>
            <img src="../../assets/footer-易查库二维码2@2x.png"/>
        </div>
    </div>
    <p class="copyright">
        京公网安备11010502034253号  <a href="https://beian.miit.gov.cn" target="_blank" style="color: #828ba7;">京ICP备14010574号-3</a>  Copyright © 2021 北京车车 版权所有
    </p>
</div>
