<div class="page_about">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="about_me">
                <div class="title">关于我们 </div>
                <div class="title_en">ABOUT US</div>
                <div class="title_font">
                    <div><span></span>专注巡库业务：从2008年12月实施广州分行巡核库业务起，一直致力于服务银行贷后巡库业务。</div>
                    <div><span></span>即时、准确反馈风险：与分行后台老师即时对接、及时反馈巡库现场情况，巡库流程与结果“可视化”，所有报表、报告等巡库材料全部由后台稽核，确保信息反馈准确、及时，同时根据分行的要求实时处理现场风险因素。</div>
                    <div><span></span>与各分行全面合作：先后与16家分支行合作巡核库业务，并得到合作单位的一致好评。</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div  class="about_img"><img src="../../../assets/dhApply-img5.png"/></div>
        </div>
    </div>
</div>
