<div class="barnd_page">
    <div class="bank_page">
        <div class="barnd_title">
            <div class="font_e">COOPERATION</div>
            <div class="font">服务的客户</div>
            <div class="font_e">BRAND</div>
        </div>
        <div class="brand_icon">
          <img src="../../../assets/dhApply-img3.png"/>
        </div>
    </div>
</div>
<div class="bank_page bank">
    <div class="barnd_title">
        <div class="font_e">COOPERATIVE</div>
        <div class="font">服务的金融机构</div>
        <div class="font_e">BANK</div>
    </div>
    <div class="brand_icon">
        <img src="../../../assets/dhApply-img4.png"/>
    </div>
</div>
