<div class="page_car">
    <img class="d-none d-sm-block " src="../../../assets/dhApply-img1.png"/>
    <div class="car_font">
        <div class="tite">PROMOTE EFFICIENCY</div>
        <div class="font">
            <div><span></span>巡库效率的大幅提升：利用规模效应，将巡库效率保持在50笔/日以上，巡库成本得到了极大的压缩，预计比银行客户经理巡库的效率提高3倍以上，巡库成本约为1/3。</div>
            <div><span></span>巡库范围全国覆盖：日常巡库覆盖全国31个省（区/市），330多个地级市，真正做到全国无盲区覆盖。</div>
            <div><span></span>有效防控风险：11年来，累计完成15万笔巡库业务，每年平均值为1.36万笔业务，日均巡库效率在50笔以上，效率是客户经理的3倍。</div>
        </div>
    </div>
</div>
