<div class="fwcon_page">
    <div class="fwcon_con">
        <img class="img_sm d-block d-lg-none"  src="../../../assets/dhApply-img2.png"/>
        <div class="title">服务内容 </div>
        <div class="title_en">THE SERVICE CONTENT</div>
        <div class="title_font">
            <div><span></span>全覆盖巡库服务：一网实地巡查、二网实地巡查+远程抽查，当天内库存巡查全覆盖。</div>
            <div><span></span>抵押登记办理与查询服务：代办车辆抵押登记，或现场查询已抵押登记的情况。</div>
            <div><span></span>贷后走访调查服务：走访企业负责人、企业财务和业务负责人，了解企业股权结构变化情况、经营模式有无变化，有无重大事项发生可能对经营产生影响，通过现场走访和经营数据分析及时发现企业潜在风险。</div>
            <div><span></span>贷前、贷中、贷后管理服务：全面收集经销商的库存数据、销售数据、财务状况、人员情况、经营情况等数据，进行风险等级评估。</div>
        </div>
        <img class="checheimg d-none d-lg-block" src="../assets/icons/组 636.png"/>
    </div>
    <img class="bigimg d-none d-lg-block"  src="../../../assets/dhApply-img2.png"/>
</div>