<div class="data_page">
    <div class="data_title">
        <div class="font_e">DATA VALUE IS REALIZED BY MINING</div>
        <div class="font">通过挖掘数据技术实现数据价值</div>
        <div class="font_e">DATA TECHNOLOGY</div>
    </div>
    <div class="data_card">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/数据清洗@2x.png">
                    <p class="title">数据清洗</p>
                    <p class="subtitle">赋予数据更多意义，重命名字段并修改数字格式， 将数据拆分成多个字段或将字段合并为组。 补充残缺数据、判断错误数据、移除重复数据。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/深入探寻价值数据@2x.png">
                    <p class="title">深入探寻价值数据</p>
                    <p class="subtitle">对数据进行新的重组计算，通过训练数据集、设置分析指标、挖掘算法等进行模型训练、模型评估。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="icon_card">
                    <img src="../assets/icons/数据预处理能力@2x.png">
                    <p class="title">数据预处理能力</p>
                    <p class="subtitle">为确保数据挖掘模型能达到预期目标，在数据准备阶段对数据进行抽样、标准化、离散化、值替换、类型转换、添加字段、主数据过滤等。 </p>
                </div>
            </div>
        </div>   
    </div>    
</div>