<div class="serve_page">
    <div class="data_title">
        <div class="font">为您提供的数据服务</div>
        <div class="font_e">DATA SERVICES FOR YOU</div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/数据洞察@2x.png">
                <div>
                    <div class="title">数据洞察</div>
                    <div class="subtitle">我们关注企业连续现金流和业务流，大数据分析计算出企业的经营趋势预测。</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/企业分类@2x.png">
                <div>
                    <div class="title">企业分类</div>
                    <div class="subtitle">通过不同维度的大数据分析计算，我们对企业进行等级分级划分。企业好坏一目了然。</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/风险预警@2x.png">
                <div>
                    <div class="title">风险预警</div>
                    <div class="subtitle">企业经营发生异常，我们可以计算是哪类情况发生预警，通过预警内容可以返推出具体的数据或者预警的事件。 </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="icon_card">
                <img src="../assets/icons/精准决策@2x.png">
                <div>
                    <div class="title">精准决策</div>
                    <div class="subtitle">每个企业都有一个信用评分，这个信用评分可以辅助金融机构进行决策和预判使用。 </div>
                </div>
            </div>
        </div>
    </div>
</div>
