<div class="yycj_page">
    <div class="data_title">
        <div class="font">应用场景</div>
        <div class="font_e">APPLICATION SCENARIOS</div>
    </div> 
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/经营分析@2x.png">
                <p class="title">经营分析</p>
                <p class="subtitle">通过业务数据分析经销商经营状况是否持续稳定。</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/融资使用分析@2x.png">
                <p class="title">融资使用分析</p>
                <p class="subtitle">通过数据关联性分析计算融资资金使用占比和资金使用分析。</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/财务分析@2x.png">
                <p class="title">财务分析</p>
                <p class="subtitle">通过财务报表分析企业总资产和总负债，最终计算出违约概率。 </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/與情监控@2x.png">
                <p class="title">與情监控</p>
                <p class="subtitle">对网络负面信息进行语义分析，对异常事件进行及时监控。  </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/征信报告@2x.png">
                <p class="title">征信报告</p>
                <p class="subtitle">通过大数据分析、机器学习及模型算法计算企业征信等级。  </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/数据补全@2x.png">
                <p class="title">数据补全</p>
                <p class="subtitle">通过全网数据收集提升客户资料准确性，还原经营真实情况。  </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/风险控制@2x.png">
                <p class="title">风险控制</p>
                <p class="subtitle">异常事件立即预警，数据分析计算做到预判预警。   </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="yycj_icon_card">
                <img src="../assets/icons/全景画像@2x.png">
                <p class="title">全景画像</p>
                <p class="subtitle">以客户为中心，汇聚客户属性、业务跟踪、历史全程可追溯。  </p>
            </div>
        </div>
    </div>      
</div>