<div class="aboutus-banner-wrapper">
    <div class="aboutus-banner">
        <img src="../../../assets/aboutus-banner.png" class="d-none d-lg-block"/>
        <img src="../../../assets/aboutus-banner-small.png" class="d-block d-lg-none" />
        <div class="content">
            <div class="line1">
                <span>公司简介</span>
                <div class="divider"></div>
            </div>
            <span class="subtitle">COMPANY PROFILE</span>
            <p class="desc">
                北京车车网络技术有限公司成立于2012年7月。是一家应用互联网技术，以智能硬件、大数据分析、人工智能等技术服务，精准定制基于汽车金融场景的行业解决方案，向客户提供开发、运营及咨询培训等一站式服务的创新型科技公司。
            </p>
        </div>
    </div>
</div>
