<div class="contactus-wrapper" id="contactus">
    <div class="contactus">
        <div class="contactus-header">
            <p class="title">联系我们</p>
            <p class="subtitle">CONTACT US</p>
        </div>
        <div class="contactus-body">
            <div class="contactus-tabbar">
                <span class="tab active">北京</span>
                <span class="tab">广州</span>
                <span class="tab">上海</span>
                <span class="tab">天津</span>
                <span class="tab">大连</span>
                <span class="tab">深圳</span>
            </div>
            <div class="contactus-content">
                <div class="left-menu">
                    <div class="contactus-left-menu active">
                        北京:北京市朝阳区东四环中路195号楼9层909-1
                    </div>
                    <div class="contactus-left-menu">
                        广州：广州市中山大道中38号加悦大厦707室
                    </div>
                    <div class="contactus-left-menu">
                        上海：上海市宝山区同济路488号创客邦309室
                    </div>
                    <div class="contactus-left-menu">
                        天津：天津市红桥区咸阳北路48路银泰大厦A
                        座15楼1504-2
                    </div>
                    <div class="contactus-left-menu">
                        大连：辽宁省大连高新技术产业园区七贤岭爱贤街10号设计城A座第4层415
                    </div>
                    <div class="contactus-left-menu">
                        深圳：深圳市南山区南头街道大汪山社区桃园东路1号西海明珠大厦11楼C23
                    </div>
                </div>
                <div id="map-container"></div>
            </div>
            <div class="address-wrapper d-flex d-lg-none">
                <img src="../assets/location.png"/>
                <p class="address">北京市朝阳区东四环中路195号楼9层909-1</p>
            </div>
        </div>
    </div>
</div>
