<div class="culture-wrapper" id="culture">
    <div class="culture">
        <div class="culture-left">
            <div class="culture-left-header">
                <p class="prevtitle">THE ENTERPRISE</p>
                <p class="title">企业文化</p>
                <p class="subtitle">CULTURE</p>
            </div>
            <p class="desc">
                我们是一个积极创新、努力向上、充满活力的大集体，公司成员都有着丰富的行业经验与专业能力。我们希望与公司共同进步、一同创新，让我们的产品为更多人服务，为更多用户带来独一无二的价值。
            </p>
            <img src="../assets/logo.png" class="d-lg-block d-none"/>
        </div>
        <div class="culture-main-photo">
            <img src="../../../assets/aboutus-main-photo.png"/>
            <img src="../assets/logo.png" class="culture-nametemplate"/>
            <div class="culture-thumbnail row no-gutters">
                <img src="../../../assets/aboutus-culture-photo1.png"/>
                <img src="../../../assets/aboutus-culture-photo4.png"/>
                <img src="../../../assets/aboutus-culture-photo2.png"/>
                <img src="../../../assets/aboutus-culture-photo3.png"/>              
            </div>
        </div>
    </div>
</div>
