<div class="grownup-wrapper" id="grownup">
    <div class="grownup">
        <div class="grownup-header">
            <span class="title">成长经历</span>
            <span class="subtitle">GROWING UP</span>
        </div>
        <div class="grownup-body">
            <div class="grownupline1 row no-gutters">
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">新生 2012</p>
                    <p class="desc">7月公司正式成立</p>
                </div>
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">探索 2015</p>
                    <p class="desc">检车宝V1.0上线<br />车银通V1.0上线</p>
                </div>
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">崭露 2016</p>
                    <p class="desc">检车宝和车银通全面推向市场得到一致好评</p>
                </div>
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">创新 2017</p>
                    <p class="desc">易查库1.0上线</p>
                </div>
            </div>
            <div class="grownupline2 row no-gutters">
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">发展 2018</p>
                    <p class="desc">
                        <span>易查库V2.0上线大规模客户使用</span>
                        <span>大连研发中心成立<i></i></span>
                    </p>
                </div>
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">盛放 2019</p>
                    <p class="desc multiple-line">
                        <span>易查库V3.0上线  车银通V2.0上线</span>
                        <span>外勤通V1.0上线  车有汇V1.0上线<i></i></span>
                    </p>
                </div>
                <div class="grownup-card col-lg-3 col-6">
                    <p class="title">远航 2020</p>
                    <p class="desc">完成线上+线下业务全覆盖</p>
                </div>
                <div class="grownup-card grownup-card-none col-lg-3 col-6">

                </div>
            </div>
        </div>
    </div>
</div>
