<div class="organization-wrapper" id="organization">
    <div class="organization">
        <div class="organiz-header">
            <span class="prevtitle">ORGANIZATIONAL</span>
            <span class="title">组织架构</span>
            <span class="subtitle">STRUCTURE</span>
        </div>
        <div class="organiz-body row">
            <div class="organiz-body-left col-lg-6 col-12 order-2">
                <div class="organiz-card">
                    <div class="desc">
                        <div class="point"></div>
                        北京车车网络技术有限公司（母公司）：提供专业的金融领域咨询、培训、风控辅助服务，设立市场部、财务部、人事部、抽查审核部。
                    </div>
                </div>
                <div class="organiz-card">
                    <div class="desc">
                        <div class="point"></div>
                        北京车银通二手车鉴定评估有限公司
                        ：专业的二手车鉴定评估机构，为二手车经销商和银行提供二手车融资审核、二手车评估和运营服务。设立运营部和评估部。
                    </div>
                </div>
                <div class="organiz-card">
                    <div class="desc">
                        <div class="point"></div>
                        深圳睿信投资发展有限公司：专业从事银行金融机构供应链业务抵质押物现场检查管理，设立财务部、人事部、巡检部、审核部。
                    </div>
                </div>
                <div class="organiz-card">
                    <div class="desc">
                        <div class="point"></div>
                        大连车车信息技术有限公司：专业系统研发和智能化运营团队，设立IT研发部、培训部、客服部。
                    </div>
                </div>
            </div>
            <div class="organiz-body-right col-lg-6 col-12 order-lg-2 order-md-1 order-sm-1">
                <img src="../../../assets/aboutus-organization-thumbnail.png" />
            </div>
        </div>
    </div>
</div>
