<div class="trend-wrapper row no-gutters">
    <img src="../assets/logo.png" class="nameplate"/>
    <div class="trend-card col-lg-3 col-12">
        <div class="trend-top">
            <p class="title">使命</p>
            <p class="eng-title">MISSION</p>
            <div class="divider"></div>
        </div>
        <p class="desc">通过新技术的应用和专业服务，提升汽车行业及汽车金融领域的效率及质量。</p>
        <img src="../../../assets/aboutus-使命@2x.png" class="icon"/>
    </div>
    <div class="trend-card col-lg-3 col-12">
        <div class="trend-top">
            <p class="title">愿景</p>
            <p class="eng-title">VISION</p>
            <div class="divider"></div>
        </div>
        <p class="desc">做最好的服务于汽车和金融垂直领域的科技创新公司。</p>
        <img src="../../../assets/aboutus-愿景@2x.png" class="icon"/>
    </div>
    <div class="trend-card col-lg-3 col-12">
        <div class="trend-top">
            <p class="title">产品</p>
            <p class="eng-title">PRODUCT</p>
            <div class="divider"></div>
        </div>
        <p class="desc">ERP、CRM、APP、电商平台、图形图像处理、机动车检测工具、大数据分析。</p>
        <img src="../../../assets/aboutus-产品@2x.png" class="icon"/>
    </div>
    <div class="trend-card col-lg-3 col-12">
        <div class="trend-top">
            <p class="title">技术</p>
            <p class="eng-title">TECHNOLOGY</p>
            <div class="divider"></div>
        </div>
        <p class="desc">超强的创新能力，成熟的图片及视频识别技术、互联网技术、数据分析、人工智能。我们的人才优势：金融、互联网、大数据分析、运营、咨询培训等各专业人才。</p>
        <img src="../../../assets/aboutus-技术@2x.png" class="icon"/>
    </div>
</div>
