<div class="group">
    <div class="group-header">
        <p class="prevtitle">PRODUCT</p>
        <p class="title">产品介绍</p>
        <p class="subtitle">INTRODUCTION</p>
    </div>
    <div class="group-body">
        <p class="product-intro-content">
            致力于为金融机构提供二手车库存融资业务及风险控制解决方案，以数据化、标准化、便捷化的手段管理融资的申请、二手车价格的评估、金融机构放款、还款、审批，车辆的赎回等业务。
        </p>
    </div>
</div>

<div class="group">
    <div class="container-fluid product-main-content">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">01</span>
                    <span class="title"></span>
                </div>
                <p class="content">
                    运用大数据、价值计算引擎、残值数据算法、学习型人工智能技术，建立精确、透明、快速的二手车估值体系。采用科学的数据挖掘与机器学习方法和理论，为汽车金融风控领域提供专业的、系统的解决方案
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part">
                <img src="~@/assets/product-cheyinrongtong-系统特点.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content darkbg">
        <div class="row">
            <div class="col-lg-6 col-12 thumbnail-part d-lg-block d-none">
                <img src="~@/assets/product-cheyinrongtong-业务模式.png">
            </div>
            <div class="col-lg-6 col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">02</span>
                    <span class="title">业务模式</span>
                </div>
                <p class="content">
                    车银融通系统实现了将银行、汽车经销商、监管方、评估公司的业务整合到一个系统中，将前期的二手车评估，中期的银行放款管理、抵质押物管理，以及后期的二手车辆监管等业务场景进行了良好的标准化、流程化和系统化的改造，使得整个融资过程更加的方便快捷
                </p>
            </div>
            <div class="col-lg-6 col-12 thumbnail-part d-lg-none d-flex">
                <img src="~@/assets/product-cheyinrongtong-业务模式.png">
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content horizonNone">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">03</span>
                    <span class="title">评估优势</span>
                </div>
                <div class="content-list row">
                    <div class="content-item col-12">
                        <span class="content-list-index">1</span>
                        <span class="content-list-value">早期传统方式评估师现场评估：评估结果受评估师个人水平影响较大，且评估师与店方直接的接触会加大发生道德风险的几率</span>
                    </div>
                    <div class="content-item col-12">
                        <span class="content-list-index">2</span>
                        <span class="content-list-value">现行大平台方式网站自动评估：自动评估只提供数据和标准的支持，由计算机系统计算，误差较大。由于二手车具有一车一况一车一价的特点，因此自动评估无法反映每辆二手车的真实情况</span>
                    </div>
                    <div class="content-item col-12">
                        <span class="content-list-index">3</span>
                        <span class="content-list-value">车银融通评估方式：智能评估＋人工复检进行车辆评估，车银融通运用大数据、价值计算引擎、残值数据算法等人工智能技术，建立精确、透明、快速的二手车估值体系，同时对每一台评估车辆增加人工复检评估，保障评估车辆的真实市场价值</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid product-main-content horizonNone">
        <div class="row">
            <div class="col-12 d-flex wording-part">
                <div class="header">
                    <span class="index">04</span>
                    <span class="title">系统优势</span>
                </div>
                <div class="content-list">
                    <div class="content-item">
                        <span class="content-list-index">1</span>
                        <span class="content-list-value">具备完善的车型库：系统支持全品牌全车系包含180项车辆详细数据，系统使用人不再需要通过各种途径进行人工搜索，在车银融通系统可便捷、快速的获取二手车历史基本信息</span>
                    </div>
                    <div class="content-item">
                        <span class="content-list-index">2</span>
                        <span class="content-list-value">建立二手车信息档案：二手车相较于新车，手续繁琐，银行在信息收集上耗时较长，通过车银融通系统收集二手车基本信息并完成初审，建立完整的二手车信息档案，可以大大节约银行客户经理时间</span>
                    </div>
                    <div class="content-item">
                        <span class="content-list-index">3</span>
                        <span class="content-list-value">实现在线核库：车银融通系统在线推送车辆信息，可实现异地核库，极大减少人力成本及出差费用</span>
                    </div>
                    <div class="content-item">
                        <span class="content-list-index">4</span>
                        <span class="content-list-value">提高经销商内部沟通时效：对于经销商来说，新车销售仍为主要业务，二手车所占比例非常小，二手车业务部门与财务部一般存在信息不对称、沟通不顺畅的情况，二手车业务部的需求信息可通过系统传递给财务部，可提高经销商内部沟通时效</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
